---
layout: blog-layout
title: Online Academy Blog
description: This is the Online Academy blog.
---

<div class="container blog-section font-size-1-5em">
    <div class="row">

        <div class="col-lg-8">

            {% for post in site.posts limit:28 %}
            
            <a href="{{ post.url | prepend: site.baseurl }}">
                <img class="img-fluid mb-3 post-feature-image" 
                     src="{{ "/assets/media/blog/" | prepend: site.baseurl }}{{ post.img }}">
            </a>
            <a href="{{ post.url | prepend: site.baseurl }}">
                <h1 class="ctitle">{{ post.title }}</h1>
            </a>
            <p><em>{{ post.date | date: "%b %-d, %Y" }}. | by {{ post.author }}</em></p>
            {{ post.excerpt }}
            <p><a href="{{ post.url | prepend: site.baseurl }}">[Read More]</a></p>
            <div class="hline"></div>

            <div class="spacing"></div>
            {% endfor %}

        </div>

        {% include sidebar.html %}

    </div>  
</div>
