<!doctype html>
<html lang="en">
    {% include head.html %}  
    <body>
        {% include header.html %}    
        <!-- Begin carousel -->
        <div id="homeCarousel" 
             class="carousel slide" 
             data-ride="carousel"
             style="margin-top: -20px;">
            <ol class="carousel-indicators">
                <li data-target="#homeCarousel" data-slide-to="0" class="active"></li>
                <li data-target="#homeCarousel" data-slide-to="1"></li>
            </ol>
            <div class="carousel-inner">               
                <div class="carousel-item active">
                    <a href="https://app.adassa.com.jm/store/" >
                        <img src="../assets/media/slider/ecommerce-1.jpg" 
                             class="d-block w-100" 
                             alt="E-COMMERCE">
                    </a>
                    <div class="carousel-caption d-none d-md-block">
                        <a href="https://app.adassa.com.jm/store/" >
                            <h2 style="color: whitesmoke;margin-top: -100px;">
                                E-COMMERCE
                            </h2>
                            <h3 style="color: whitesmoke;">
                                Participate in e-commerce wherever you are.
                            </h3>
                        </a>
                    </div>
                </div>
                <div class="carousel-item">
                    <a href="https://app.adassa.com.jm/store/">
                        <img src="../assets/media/slider/online-shopping.jpg" 
                             class="d-block w-100" 
                             alt="ONLINE SHOPPING">
                    </a>
                    <div class="carousel-caption d-none d-md-block">
                        <a href="https://app.adassa.com.jm/store/">
                            <h2 style="color: whitesmoke;margin-top: -100px;">
                                ONLINE SHOPPING
                            </h2>
                            <h3 style="color: whitesmoke;">
                                Shop online from anywhere in the world!
                            </h3>
                        </a>
                    </div>
                </div>
            </div>
            <button class="carousel-control-prev" type="button" data-target="#homeCarousel" data-slide="prev">
                <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                <span class="sr-only">Previous</span>
            </button>
            <button class="carousel-control-next" type="button" data-target="#homeCarousel" data-slide="next">
                <span class="carousel-control-next-icon" aria-hidden="true"></span>
                <span class="sr-only">Next</span>
            </button>
        </div>
        <!-- End carousel -->
        <main>
            {{ content }} 
        </main>
        {% include footer.html %}
    </body>  
</html>
